@font-face {
  font-family:'DM Sans', Helvetica, sans-serif;
  font-style: normal;
  src: local('DM Sans')
      url('../fonts/dm_sans_400.woff2') format(woff2),
      url('../fonts/dm_sans_400.woff') format(woff);
  font-weight: normal;
}

@font-face {
  font-family:'DM Sans-bold', Helvetica, sans-serif;
  font-style: normal;
  src: local('DM Sans-bold')
      url('../fonts/dm_sans_700.woff2') format(woff2),
      url('../fonts/dm_sans_700.woff') format(woff);
  font-weight: bold;
}

@font-face {
  font-family: 'dm_serif_display', Helvetica, sans-serif;
  font-style: normal;
  src: local('dm_serif')
       url('../fonts/dm_serif_display_400.woff2') format(woff2)
       url('../fonts/dm_serif_display_400.woff') format(woff);
  font-weight: normal;
}
