
.photograf__navigation--newsletter {
  margin-block-start: 79.91px;
  margin-block-end: calc(78px - 44px);
}

.photograf__items--newsletter:not(:first-child) {
  padding-block-start: 10px;
}

.photograf__link--newsletter:hover {
  @include link-dm-sans-white;
  color:$black ;
}

.photograf__link--newsletter--home:focus-visible {
  color:$black;
}

@media (min-width: 1100px) {
  .photograf__navigation--newsletter {
    text-align: center;
    margin: var(--value);
    padding: var(--value);
    flex-basis: 44%;
  }

}
