
.photograf__navigation--newsletter {
  margin-block-start: 79.91px;
  margin-block-end: calc(78px - 44px);
}

.photograf__items--newsletter:not(:first-child) {
  margin-bottom: 12px;
}

.photograf__link--newsletter {
  @include link-grey;
}

.photograf__items--newsletter:nth-of-type(1) {
  padding-bottom: 1.5rem;
}

.photograf__link--newsletter--home,
.photograf__link--newsletter:not(first-child):hover {
  @include link-dm-sans-font;
}

@media (min-width: 1000px) {
  .photograf__navigation--newsletter {
    text-align: center;
    margin: var(--value);
    padding: var(--value);
    flex-basis: 44%;
  }

}
