.photograf__list--icons {
  display: flex;
}

.photograf_features__list--icons {
  margin-block-start: 35px;
}

.photograf__items--icons {
  width: calc(var(--fix-width) / 4 );
}

.photograf__link--icons {
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
}

.photograf__link--icons--facebook {
  background-image: url(../icons/icon_facebook.svg);
}

.photograf__link--icons--facebook:hover,
.photograf__link--icons--facebook:focus {
  background-image: url('../icons/circle-facebook.svg');
}

.photograf__link--icons--twitter {
  background-image: url(../icons/icon_twitter.svg);
}

.photograf__link--icons--twitter:hover,
.photograf__link--icons--twitter:focus {
  background-image: url('../icons/twitter_circle.svg');
}

.photograf__link--icons--instagram {
  background-image: url(../icons/icon_instagram.svg);
}

.photograf__link--icons--instagram:hover,
.photograf__link--icons--instagram:focus {
  background-image: url('../icons/circle-instagram.svg');
}








