.photograf__navigation--menu {
  padding: var(--based-value);
  background-color: #f8f8f8;
  position: absolute;
  z-index: 3;
  top: var(--value);
  left: var(--value);
  bottom: var(--value);
  width: 50%;
  height: 100%;
  box-shadow: 0 0 50px rgba(0,0,0,.5);
  transform: translateX(-126%);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body > input[type="checkbox"]:checked ~ header .photograf__navigation--menu {
  transform: translateX(0%);
}

.photograf_header__list {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding-inline-start: 40%;
}

.photograf--checkbox--menu {
  position: absolute;
  top: 35px;
  right: calc(var(--based-value) + 1);
  z-index: -1;
}

.photograf_header__link {
  text-decoration: var(--none-value);
  text-transform: capitalize;
  color: $purple;
  opacity: calc(var(--opacity) / 2 );
  font-weight: 700;
  font-size: 0.75rem;
  line-height: var(--based-value);
  transition: opacity 0.3s;
  display: block;
  padding-block-end: 50px;
  font-size: 20px;
}

.photograf_header__link:hover {
  opacity: 1;
}

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: var(--value);
  right: var(--value);
  bottom: var(--value);
  left: var(--value);
  height: var(--per-width);
  width: var(--per-width);
  background: rgba(250,0,0,.25);
}

body > nav .active a {
  opacity: var(--opacity);
}

body > nav > ul a:hover {
  opacity: var(--opacity);
}

@media (min-width: 1100px) {
  .photograf__navigation--menu {
    background-color: transparent;
    top: var(--auto-value);
    left: var(--auto-value);
    right: var(--auto-value);
    bottom: var(--auto-value);
    width: var(--auto-value);
    box-shadow: var(--none-value);
    transform: var(--none-value);
    transition: var(--none-value);
    display: contents;
  }

  .photograf_header__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-start: 0;
    flex-basis: 324px;
  }

  .photograf_header__link {
    @include link-dm-sans-white;
    opacity: var(--opacity);
    padding-block-end: 0;
  }

  .photograf_header__link:hover {
    color: lightgrey;
  }

}



body > input[type="checkbox"]:checked ~ main {
  z-index: 1;
}

