.photograph__picture--container {
  padding-block-end: 30%;
}

.photograph__img--large {
  display: block;
  max-width: var(--per-width);
  width: var(--per-width);
  height: var(--per-width);
  object-fit: cover;
}

.photograph__img__list {
  position: relative;
  display: block;
  width: var(--per-width);
}

.photograph__img__items:nth-of-type(1),
.photograph__img__items:nth-of-type(2) {
  position: absolute;
  width: 40%;
  top: 9px;
}

.photograph__img__items:nth-of-type(2) {
  left: calc(40% + 9px);
}

.photograph__img__items:nth-of-type(3) {
  position: absolute;
  top: 11px;
  width: 40%;
  transform: scaleX(0.5);
  left: calc(calc(calc(103% / 3) * 2) + calc(9px * 3));
}

.photograph__img__items:nth-of-type(2),
.photograph__img__items:nth-of-type(3) {
  opacity: calc(var(--opacity) / 2);
}

.photograph__img__items:nth-of-type(4),
.photograph__img__items:nth-of-type(5),
.photograph__img__items:nth-of-type(6),
.photograph__img__items:nth-of-type(7),
.photograph__img__items:nth-of-type(8) {
  display: var(--none-value);
}

@media (min-width:1100px) {
  .photograph__picture--container {
    padding-block-end: var(--value);
  }

  .photograph__img__list {
    width: var(--per-width);
    @include display-row;
    align-items: unset;
    margin-block-start: 9px;
    position: unset;
  }
  
  .photograph__img__items:nth-of-type(1),
  .photograph__img__items:nth-of-type(2),
  .photograph__img__items:nth-of-type(3) {
    position: unset;
  }

  .photograph__img__items:nth-of-type(3) {
    transform: inherit;
  }
  
  .photograph__img__items:nth-of-type(4),
  .photograph__img__items:nth-of-type(5),
  .photograph__img__items:nth-of-type(6),
  .photograph__img__items:nth-of-type(7),
  .photograph__img__items:nth-of-type(8) {
    display: block;
  }

  .photograph__img__items:nth-of-type(2),
  .photograph__img__items:nth-of-type(3),
  .photograph__img__items:nth-of-type(4),
  .photograph__img__items:nth-of-type(5),
  .photograph__img__items:nth-of-type(6),
  .photograph__img__items:nth-of-type(7),
  .photograph__img__items:nth-of-type(8) {
    opacity: calc(var(--opacity) / 2);
  }
    
  .photograph__img__items {
    flex-basis: calc(calc(var(--per-width) / 8) - calc(9px));
  }
  
}
