.photograf_footer {
  border-block-start: 1px $black solid;
  opacity: calc(var(--opacity) / 2 );
}

.photograf_footer--container {
  text-align: justify;
  @include padding-inline;
  padding-top: 26.97px;
  padding-bottom: 28.97px;
}

.photograf_footer--desc {
  @include link-grey;
}

@media (min-width: 1100px) {
  .photograf_footer--container {
    @include max-width-container;
    @include display-row;
    padding: 0;
    padding-block-start: 27px;
    padding-bottom: 75px;
    align-items: unset;
  }
}