.photograf__form,
.photograf__fildset {
  display: flex;
  flex-direction: column;
}

.photograf__fildset {
  border-color: transparent;
  padding-inline-start: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.photograf__label--email {
  @include link-dm-sans-white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: var(--based-value);
  color: $black;
}

.photograf__input--email,
.photograf__form--subscribe {
  font-family: 'DM Sans';
  border-color: transparent;
  box-sizing: border-box;
  border-radius: 5px;
  padding-inline-start: var(--based-value);
  height: 48px;
  margin-block-end: var(--based-value);
}

.photograf__form--subscribe {
  max-width: 50%;
  background-color: $purple;
  color: $white;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding-inline-start: 45.5px;
  padding-inline-end: 45.5px;
  margin-block-end: 54px;
  opacity: 0.8;
}

::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.photograf__form--subscribe:hover {
  opacity: 1;
}

@media (min-width: 1000px) {
  .photograf__form {
    @include display-row;
    align-items: unset;
    flex-basis: 570px;
    margin-block-start: 2.5rem;
  }

  .photograf__fildset {
    padding: 0;
    flex-basis: 346px;
  }

  .photograf__label--email {
    margin-block-end: 12px;
  }

  .photograf__form--subscribe {
    flex-basis: 170px;
    margin-block-start: var(--margin-block);
    margin-top: 1.8rem;
  }

}