.photograph__footer {
  border-block-start: 1px $black solid;
  opacity: 0.5;
  margin-block-start: 67px;
}

.photograph__footer--container {
  text-align: justify;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
}

.photograph__footer--desc {
  @include link-grey;
}

@media (min-width:1100px) {

  .photograph__footer--container {
    @include max-width-container;
    display: flex;
    justify-content: space-between;
    margin-block-end: 67px;
  }
}