.photograf--profile--desc--woman::before {
  display: block;
  content: '';
  background-image: url(../images/woman_sm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 71px;
  height: 47.94px;
  position: relative;
  left: -100.8px;
  top: 47.97px;
}

.photograf--profile--desc--arches::before {
  content: '';
  display: block;
  background-image: url(../images/arches_sm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 71px;
  height: 47.94px;
  position: relative;
  left: -100.8px;
  top: 47.97px;
}
