.photograf_mastheader {
  @include margin-inline;
}

.photograf_mastheader--wrapper {
  text-align: justify;
  margin-block-start: 31px;
  margin-block-end: 81px;
}

.photograf__heading2--mastheader {
  text-align: left;
}

.photograf_mastheader--sub-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.photograf_mastheader__link {
  @include link-grey;
}

@media (min-width:1100px) {
  .photograf--container {
    @include max-width-container;
  }

  .photograf__heading2--mastheader {
    max-width: calc(var(--per-width) / 2);
  }

  }


