.photograf_mastheader {
  @include margin-inline;
  margin-block-start: 49px;
}

.photograf_mastheader--wrapper {
  text-align: justify;
  margin-block-end: 82px;
}

.photograf__heading2--mastheader {
  text-align: left;
}

.photograf_mastheader--sub-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.photograf_mastheader__link {
  @include link-grey;
}

.photograf_mastheader--desc {
    font-size: 18px;
    line-height: 32px;
}

@media (min-width: 1100px) {
  .photograf--container {
    @include max-width-container;
  }

  .photograf_mastheader--wrapper {
    margin-bottom: 69px;
  }

  .photograf__heading2--mastheader {
    max-width: calc(var(--per-width) / 2);
  }

  }


