.photograf_footer {
  border-block-start: 1px $black solid;
  opacity: calc(var(--opacity) / 2 );
  margin-block-start: 67px;
}

.photograf_footer--container {
  text-align: justify;
  @include padding-inline;
}

.photograf_footer--desc {
  @include link-grey;
}

@media (min-width: 1000px) {
  .photograf_footer--container {
    @include max-width-container;
    @include display-row;
    align-items: unset;
    margin-block-end: 67px;
  }
}