.photograf__form,
.photograf__form--contents {
  display: flex;
  flex-direction: column;
}

.photograf__form--contents {
  border-color: transparent;
  padding-inline-start: 0;
}

.photograf__label--email {
  @include link-dm-sans-white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: var(--based-value);
  color: $black;
}

.photograf__email__input,
.photograf__form--subscribe {
  border-color: transparent;
  box-sizing: border-box;
  border-radius: 5px;
  padding-inline-start: var(--based-value);
  padding-block-start: 13px;
  padding-block-end: 11px;
  margin-block-end: var(--based-value);
}

.photograf__form--subscribe {
  max-width: 50%;
  background-color: $purple;
  color: $white;
  padding-inline-start: 45.5px;
  padding-inline-end: 45.5px;
  margin-block-end: 54px;
  opacity: 0.8;
}

.photograf__form--subscribe:hover {
  opacity: 1;
}

@media (min-width: 1100px) {
  .photograf__form {
    @include display-row;
    align-items: unset;
    flex-basis: 40%;
    margin-block-start: 2.5rem;
  }

  .photograf__form--contents {
    padding: 0;
    margin-inline-end: 54px;
  }

  .photograf__email__input {
    padding-inline-end: 172px;
  }

  .photograf__label--email {
    margin-block-end: 12px;
  }

  .photograf__form--subscribe {
    margin-block-start: var(--margin-block);
    margin-top: 1.8rem;
  }

}