
.photograph_newsletter--container,
.photograph_newsletter--container--contents {
  text-align: left;
}

.photograph_newsletter--contents--wrapper,
.photograph_newsletter--wrapper,
.photograph__navigation--newsletter,
.photograph--profile--container {
  @include padding-inline;
}

.photograph_newsletter--contents--wrapper {
  background-color: $yellow;
}

.photograph_newsletter--header--contents {
  padding-block-start: 62px;
}

.photograph__heading3--newsletter {
  margin-block-start: 0;
}

.photograph_newsletter--desc,
.photograph__email__input,
.photograph__form--subscribe {
  @include link-grey;
}

.photograph_newsletter--header--contents {
  display: flex;
  flex-direction: column-reverse;
}

.photograph--profile--desc,
.photograph__link--newsletter {
  @include link-grey;
}

.photograph--profile {
  display: flex;
  flex-direction: column;
  margin-inline-start: 100px;
}

.photograph__link--latest {
  @include link-grey;
  color: $black;
  text-transform: uppercase;
}

@media (min-width: 1100px) {
  .photograph_newsletter--container {
    @include max-width-container;
    @include display-row;
  }

  .photograph__heading3--newsletter {
    margin-block-end: 104px;
  }

  .photograph_newsletter--wrapper,
  .photograph--profile--container {
    flex-basis: calc(26%);
  }

  .photograph_newsletter--header--contents {
    flex-basis: 40%;
    padding-block-start: 79px;
  }

}