:root {
  --based-value: 16px;
  --padding-inline: var(--based-value);
  --padding-block: var(--based-value);
  --margin-inline: var(--based-value);
  --margin-block: var(--based-value);
  --opacity: 1;
  --per-width: 100%;
  --fix-width: 100px;
  --auto-value: auto;
  --value: 0;
  --none-value: none; }

@font-face {
  font-family: 'DM Sans', Helvetica, sans-serif;
  font-style: normal;
  src: local("DM Sans") url("../fonts/dm_sans_400.woff2") format(woff2), url("../fonts/dm_sans_400.woff") format(woff);
  font-weight: normal; }

@font-face {
  font-family: 'DM Sans-bolded', Helvetica, sans-serif;
  font-style: normal;
  src: local("DM Sans") url("../fonts/dm_sans_700.woff2") format(woff2), url("../fonts/dm_sans_700.woff") format(woff);
  font-weight: bold; }

@font-face {
  font-family: 'dm_serif_display', Helvetica, sans-serif;
  font-style: normal;
  src: local("dm_serif") url("../fonts/dm_serif_display_400.woff2") format(woff2) url("../fonts/dm_serif_display_400.woff") format(woff);
  font-weight: normal; }

:root {
  --based-value: 16px;
  --padding-inline: var(--based-value);
  --padding-block: var(--based-value);
  --margin-inline: var(--based-value);
  --margin-block: var(--based-value);
  --opacity: 1;
  --per-width: 100%;
  --fix-width: 100px;
  --auto-value: auto;
  --value: 0;
  --none-value: none; }

body {
  background-color: #FFFFFF;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans';
  overflow-x: hidden; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  border-radius: 5px; }

.photograph_header {
  background-color: #434CCC;
  padding-inline-start: var(--padding-inline);
  padding-inline-end: var(--padding-inline); }

.photograph_header--container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  align-items: unset; }

.photograph--icon--menu {
  color: transparent;
  background-image: url(../icons/icon_menu.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 19px;
  right: -77px; }

@media (min-width: 1100px) {
  .photograph_header--container {
    max-width: 1114px;
    margin-inline-start: var(--auto-value);
    margin-inline-end: var(--auto-value); }
  .photograph--icon--menu {
    background-image: var(--none-value); } }

.photograph__heading1 {
  font-family: 'dm_serif_display';
  font-size: calc(var(--based-value) + 2);
  line-height: calc(var(--based-value) * 2);
  color: #000000;
  font-size: calc(var(--based-value) + 8);
  line-height: calc(var(--based-value) * 2);
  color: #FFFFFF;
  text-transform: uppercase; }

.photograph_header__heading2 {
  display: none;
  position: absolute;
  top: var(--based-value);
  left: var(--based-value);
  width: var(--based-value);
  height: var(--based-value); }

.photograph__heading2 {
  font-family: 'dm_serif_display';
  font-size: calc(var(--based-value) + 2);
  line-height: calc(var(--based-value) * 2);
  color: #000000;
  font-size: 47px;
  line-height: 60px; }

.photograph__heading3 {
  font-family: 'dm_serif_display';
  font-size: calc(var(--based-value) + 2);
  line-height: calc(var(--based-value) * 2);
  color: #000000;
  font-size: 34px;
  line-height: 40px; }

.photograph__heading4 {
  font-family: 'dm_serif_display';
  font-size: calc(var(--based-value) + 2);
  line-height: calc(var(--based-value) * 2);
  color: #000000;
  text-transform: uppercase;
  font-size: 24px;
  line-height: calc(var(--based-value) * 2);
  margin-block-start: 74px; }

@media (min-width: 1100px) {
  .photograph__heading2--mastheader {
    font-size: 72px;
    line-height: 80px; }
  .photograph__heading3 {
    font-size: 52px;
    line-height: 64px; } }

.photograph_mastheader {
  margin-inline-start: var(--margin-inline);
  margin-inline-end: var(--margin-inline); }

.photograph_mastheader--wrapper {
  text-align: justify;
  margin-block-start: 31px;
  margin-block-end: 81px; }

.photograph__heading2--mastheader {
  text-align: left; }

.photograph_mastheader--sub-wrapper {
  display: flex;
  flex-direction: column-reverse; }

.photograph_mastheader__link {
  color: rgba(0, 0, 0, 0.5);
  font-size: var(--based-value);
  line-height: calc(var(--based-value) + 8); }

@media (min-width: 1100px) {
  .photograph--container {
    max-width: 1114px;
    margin-inline-start: var(--auto-value);
    margin-inline-end: var(--auto-value); }
  .photograph__heading2--mastheader {
    max-width: calc(var(--per-width) / 2); } }

.photograph_features--container {
  text-align: justify;
  margin-inline-start: var(--margin-inline);
  margin-inline-end: var(--margin-inline); }

.photograph_features__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  align-items: unset;
  margin-block-end: 75px; }

.photograph_features--wrapper {
  margin-block-end: 78px; }

.photograph_features--desc {
  color: rgba(0, 0, 0, 0.5);
  font-size: var(--based-value);
  line-height: calc(var(--based-value) + 8); }

.photograph_features__items {
  display: flex;
  flex-direction: column;
  margin-block-start: 40px;
  flex-basis: calc(var(--per-width) / 2); }

.photograph_features__span--title {
  color: rgba(0, 0, 0, 0.5);
  font-size: var(--based-value);
  line-height: calc(var(--based-value) + 8); }

.photograph_features__span--desc {
  font-family: 'DM Sans-bolded';
  font-size: var(--based-value);
  line-height: calc(var(--based-value) + 8);
  color: #FFFFFF;
  color: #000000;
  text-align: left; }

@media (min-width: 1100px) {
  .photograph_features--container {
    max-width: 1114px;
    margin-inline-start: var(--auto-value);
    margin-inline-end: var(--auto-value);
    padding-inline-start: var(--padding-inline);
    padding-inline-end: var(--padding-inline);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap; }
  .photograph_features__list,
  .photograph_features--wrapper {
    flex-basis: calc(var(--per-width) / 2); } }

.photograph_newsletter--container,
.photograph_newsletter--container--contents {
  text-align: left; }

.photograph_newsletter--contents--wrapper,
.photograph_newsletter--wrapper,
.photograph__navigation--newsletter,
.photograph--profile--container {
  padding-inline-start: var(--padding-inline);
  padding-inline-end: var(--padding-inline); }

.photograph_newsletter--contents--wrapper {
  background-color: #FFDD78; }

.photograph_newsletter--header--contents {
  padding-block-start: 62px; }

.photograph__heading3--newsletter {
  margin-block-start: 0; }

.photograph_newsletter--desc,
.photograph__email__input,
.photograph__form--subscribe {
  color: rgba(0, 0, 0, 0.5);
  font-size: var(--based-value);
  line-height: calc(var(--based-value) + 8); }

.photograph_newsletter--header--contents {
  display: flex;
  flex-direction: column-reverse; }

.photograph--profile--desc,
.photograph__link--newsletter {
  color: rgba(0, 0, 0, 0.5);
  font-size: var(--based-value);
  line-height: calc(var(--based-value) + 8); }

.photograph--profile {
  display: flex;
  flex-direction: column;
  margin-inline-start: 100px; }

.photograph__link--latest {
  color: rgba(0, 0, 0, 0.5);
  font-size: var(--based-value);
  line-height: calc(var(--based-value) + 8);
  color: #000000;
  text-transform: uppercase; }

@media (min-width: 1100px) {
  .photograph_newsletter--container {
    max-width: 1114px;
    margin-inline-start: var(--auto-value);
    margin-inline-end: var(--auto-value);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; }
  .photograph__heading3--newsletter {
    margin-block-end: 104px; }
  .photograph_newsletter--wrapper,
  .photograph--profile--container {
    flex-basis: calc(26%); }
  .photograph_newsletter--header--contents {
    flex-basis: 40%;
    padding-block-start: 79px; } }

.photograph__navigation--menu {
  padding: var(--based-value);
  background-color: #f8f8f8;
  position: absolute;
  z-index: 3;
  top: var(--value);
  left: var(--value);
  bottom: var(--value);
  width: calc(calc(var(--fix-width) * 2) + 50);
  height: max-content;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
  transition: transform 0.3s; }

body > input[type="checkbox"]:checked ~ header .photograph__navigation--menu {
  transform: translateX(0%); }

.photograph_header__list {
  display: flex;
  flex-direction: column; }

.photograph--checkbox--menu {
  position: absolute;
  top: 35px;
  right: calc(var(--based-value) + 1);
  z-index: -1; }

.photograph_header__link {
  text-decoration: var(--none-value);
  color: #434CCC;
  opacity: calc(var(--opacity) / 2);
  font-weight: 700;
  font-size: 0.75rem;
  line-height: var(--based-value);
  transition: opacity 0.3s;
  display: block;
  padding: var(--based-value) var(--based-value) var(--based-value) calc(var(--based-value) * 4); }

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: var(--value);
  right: var(--value);
  bottom: var(--value);
  left: var(--value);
  height: var(--per-width);
  width: var(--per-width);
  background: rgba(0, 0, 0, 0.25); }

body > nav .active a {
  opacity: var(--opacity); }

body > nav > ul a:hover {
  opacity: var(--opacity); }

@media (min-width: 1100px) {
  .photograph__navigation--menu {
    background-color: transparent;
    top: var(--auto-value);
    left: var(--auto-value);
    right: var(--auto-value);
    bottom: var(--auto-value);
    width: var(--auto-value);
    box-shadow: var(--none-value);
    transform: var(--none-value);
    transition: var(--none-value);
    display: contents; }
  .photograph_header__link {
    font-family: 'DM Sans-bolded';
    font-size: var(--based-value);
    line-height: calc(var(--based-value) + 8);
    color: #FFFFFF;
    opacity: var(--opacity); }
  .photograph_header__list {
    display: flex;
    flex-direction: row; } }

body > input[type="checkbox"]:checked ~ main {
  z-index: 1; }

.photograph__list--icons {
  display: flex; }

.photograph_features__list--icons {
  margin-block-start: 35px; }

.photograph__items--icons {
  width: calc(var(--fix-width) / 4); }

.photograph__link--icons {
  display: block;
  text-indent: -9999px; }

.photograph__link--icons--facebook {
  background-image: url(../icons/icon_facebook.svg);
  background-repeat: no-repeat; }

.photograph__link--icons--twitter {
  background-image: url(../icons/icon_twitter.svg);
  background-repeat: no-repeat; }

.photograph__link--icons--instagram {
  background-image: url(../icons/icon_instagram.svg);
  background-repeat: no-repeat; }

.photograph__navigation--newsletter {
  margin-block-start: 79.91px;
  margin-block-end: calc(78px - 44px); }

.photograph__items--newsletter:not(:first-child) {
  padding-block-start: 10px; }

.photograph__link--newsletter:hover {
  color: #000000; }

.photograph__link--newsletter--home:focus {
  color: #000000; }

@media (min-width: 1100px) {
  .photograph__navigation--newsletter {
    text-align: center;
    margin: var(--value);
    padding: var(--value);
    flex-basis: 44%; } }

.photograph--profile--desc--woman::before {
  display: block;
  content: '';
  background-image: url(../images/woman_sm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 45px;
  position: relative;
  left: -100.8px;
  top: calc(var( --based-value) * 3); }

.photograph--profile--desc--arches::before {
  content: '';
  display: block;
  background-image: url(../images/arches_sm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 45px;
  position: relative;
  left: -100.8px;
  top: 44px; }

.photograph__form,
.photograph__form--contents {
  display: flex;
  flex-direction: column; }

.photograph__label--email {
  font-family: 'DM Sans-bolded';
  font-size: var(--based-value);
  line-height: calc(var(--based-value) + 8);
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 12px;
  line-height: var(--based-value);
  color: #000000; }

.photograph__email__input,
.photograph__form--subscribe {
  border-color: transparent;
  box-sizing: border-box;
  border-radius: 5px;
  padding-inline-start: var(--based-value);
  padding-block-start: 13px;
  padding-block-end: 11px;
  margin-block-end: var(--based-value); }

.photograph__form--subscribe {
  max-width: 50%;
  background-color: #434CCC;
  color: #FFFFFF;
  padding-inline-start: 45.5px;
  padding-inline-end: 45.5px;
  margin-block-end: 54px; }

@media (min-width: 1100px) {
  .photograph__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    align-items: unset;
    flex-basis: 40%; }
  .photograph__form--subscribe {
    margin-block-start: var(--margin-block); } }

.photograph__picture--container {
  padding-block-end: 30%; }

.photograph__img--large {
  display: block;
  max-width: var(--per-width);
  width: var(--per-width);
  height: var(--per-width);
  object-fit: cover; }

.photograph__img__list {
  position: relative;
  display: block;
  width: var(--per-width); }

.photograph__img__items:nth-of-type(1),
.photograph__img__items:nth-of-type(2) {
  position: absolute;
  width: 40%;
  top: 9px; }

.photograph__img__items:nth-of-type(2) {
  left: calc(40% + 9px); }

.photograph__img__items:nth-of-type(3) {
  position: absolute;
  top: 11px;
  width: 40%;
  transform: scaleX(0.5);
  left: calc(calc(calc(103% / 3) * 2) + calc(9px * 3)); }

.photograph__img__items:nth-of-type(2),
.photograph__img__items:nth-of-type(3) {
  opacity: calc(var(--opacity) / 2); }

.photograph__img__items:nth-of-type(4),
.photograph__img__items:nth-of-type(5),
.photograph__img__items:nth-of-type(6),
.photograph__img__items:nth-of-type(7),
.photograph__img__items:nth-of-type(8) {
  display: var(--none-value); }

@media (min-width: 1100px) {
  .photograph__picture--container {
    padding-block-end: var(--value); }
  .photograph__img__list {
    width: var(--per-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    align-items: unset;
    margin-block-start: 9px;
    position: unset; }
  .photograph__img__items:nth-of-type(1),
  .photograph__img__items:nth-of-type(2),
  .photograph__img__items:nth-of-type(3) {
    position: unset; }
  .photograph__img__items:nth-of-type(3) {
    transform: inherit; }
  .photograph__img__items:nth-of-type(4),
  .photograph__img__items:nth-of-type(5),
  .photograph__img__items:nth-of-type(6),
  .photograph__img__items:nth-of-type(7),
  .photograph__img__items:nth-of-type(8) {
    display: block; }
  .photograph__img__items:nth-of-type(2),
  .photograph__img__items:nth-of-type(3),
  .photograph__img__items:nth-of-type(4),
  .photograph__img__items:nth-of-type(5),
  .photograph__img__items:nth-of-type(6),
  .photograph__img__items:nth-of-type(7),
  .photograph__img__items:nth-of-type(8) {
    opacity: calc(var(--opacity) / 2); }
  .photograph__img__items {
    flex-basis: calc(calc(var(--per-width) / 8) - calc(9px)); } }

img.open {
  background-color: violet;
  width: 100%;
  height: 100%;
  border: 1px black solid;
  position: absolute; }

.photograph__footer {
  border-block-start: 1px #000000 solid;
  opacity: calc(var(--opacity) / 2);
  margin-block-start: 67px; }

.photograph__footer--container {
  text-align: justify;
  padding-inline-start: var(--padding-inline);
  padding-inline-end: var(--padding-inline); }

.photograph__footer--desc {
  color: rgba(0, 0, 0, 0.5);
  font-size: var(--based-value);
  line-height: calc(var(--based-value) + 8); }

@media (min-width: 1100px) {
  .photograph__footer--container {
    max-width: 1114px;
    margin-inline-start: var(--auto-value);
    margin-inline-end: var(--auto-value);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    align-items: unset;
    margin-block-end: 67px; } }
